/* Background setup */
body {
    background-image: url("backgroung img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

/* Main heading */
#h1 {
    text-align: center;
    border: 2px solid black;
    border-bottom: none;
    background-color: yellow;
    padding: 10px;
    width: 290px;
    margin: 20px auto;
    font-style: italic;
    font-size: 20px;
}

/* Calculator box */
.box {
    border: 2px solid black;
    border-radius: 20px;
    background-color: yellow;
    width: 300px;
    padding: 20px;
    margin: 40px auto;
}

/* Calculator inner container */
.calc {
   margin-left: 40px;
}

#screen {

    height: 40px;
    margin-bottom: 20px;
    border: 2px solid orange;
    font-size: 20px;
    padding-left: 10px;
     border-radius: 20px;
}

/* Row layout */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color:green;
    color: white;
    border: black;
    border-style:solid ;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


